/* body descriptors for all three pages */
body {
  /* background-image: url("./Images/background.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color:lightslategrey;
}

/* navbar for all three pages */
.navbar-light .navbar-brand {
  background: #20b2aa;
  color: white;
  float: left;
}

/* header for index.html */
h1 {
  color: #20b2aa;
  margin: 15px;
  padding: 15px;
}

/* header for contact.html and portfolio.html */
h2 {
  background-color: #20b2aa;
  color:white;
  margin: 5px;
  padding: 5px;
}

/* containers for all three html pages */
.container {
  background-color: white;
  size:50%;
  margin:20px;
  padding:20px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

#img-responsive {
  height: 150px;
  width: 150px;
  margin: 10px;
  float: left;
}

/* submit button for contact.html */
button {
  background-color: #20b2aa;
  padding:15px
  margin: 10px;
}

/* footer css for all three pages */
.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#20b2aa;
  text-align: center;
  height: 10px;
}

/* css for 5 pictures located on portfolio.html page  */
.mr-3 {
  position: relative;
  float: left;
  padding:20px;
  margin:10px;
  width:100%;
  min-width: 25%;
  max-width: 75%;
  line-height: normal;
}

/* css for biopic image found on index.html */
bioimg {
  float: left;
  width: 50%;
  min-width: 25%;
  max-width: 100%;
}
form {
  margin:20px;
  padding:20px;
}

.clearfix {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  body {
    float:left;
  }
  .wrapper {
    width: 600px;

  .sidebar {
    float: left;
  }
   
  .mr-3 {
      max-width: 50%;
      height: auto;
    }
  }
