.navbar-light .navbar-brand {
  background: rgb(44, 170, 101);
  color: white;
  float: left;
}

.collapse navbar-collapse {
  float: right;
}

.nav justify-content-end {
  float: right;
}

h1 {
  background-color: rgb(44, 170, 101);
}
